<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin - ENVIOS UP</title>
    {% load static %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'empresa/images/favicon.ico' %}" />
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'empresa/assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'empresa/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}"
        type="text/css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'empresa/css/argon2.css' %}" type="text/css">
</head>

<body>
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="{% static 'empresa/images/ENVIOS UP.png' %}" class="navbar-brand-img">
                </a>
            </div>
            <div class="navbar-inner">
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'administracion' %}">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Sucursales</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'administracion' %}">
                                <i class="ni ni-planet text-orange"></i>
                                <span class="nav-link-text">Vehiculos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'l_envios' %}">
                                <i class="ni ni-pin-3 text-primary"></i>
                                <span class="nav-link-text">Envios</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'empleado' %}">
                                <i class="ni ni-single-02 text-yellow"></i>
                                <span class="nav-link-text">Empleados</span>
                            </a>
                        </li>
                    </ul>
                    <hr class="my-3">
                </div>
            </div>
        </div>
    </nav>
    <div class="main-content" id="panel">
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="media align-items-center">
                                    <div class="media-body  ml-4  d-none d-lg-block">
                                        <form class="" action="{% url 'logout' %}" method="POST">{% csrf_token %}
                                            <span>¡Bienvenido {{user.username}}!</span>
                                            <br>
                                            <button id="logout" type="submit" class="btn btn-primary"><i
                                                    class="ni ni-user-run"></i> Cerrar Sesion</button>
                                        </form>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="card-body">
            <div class="pl-lg-4">
                <h2> Eliminar Empleado</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="td_id">Tipo de Documento</label>
                            <select id="td_id" name="tipo_documento" class="form-control">
                                {% for tipo in tipos %}
                                <option value="{{tipo.td_id}}">{{tipo.td_nombre}}</option>
                                {% endfor%}
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="per_documento">Documento</label>
                            <input type="text" id="per_documento" name="per_documento" class="form-control"
                                placeholder="Documento" value="" required>
                            <div class="text-right">
                                <br>
                                <button type="submit" class="btn btn-sm btn-primary">Buscar</button></div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <h3>Documento: : {{per.per_documento}}</h3>
                            <h3>Nombres: {{per.per_nombre}}</h3>
                            <h3>Apellidos: {{per.per_apellido}}</h3>
                            <h3>Rol: {{emp.rol_id}}</h3>
                            <button type="submit" class="btn btn-sm"
                                style="background-color: red; color:white">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>