<!DOCTYPE html>
<html> 
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     {% load static %}
     <!-- BOOTSTRAP-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="{% static 'empresa/images/favicon.ico' %}" />
      <!-- Fonts -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

     <style>
        table {
            border: 1px solid #111111;
            width: 200%;
            padding: 5px 10px;
        }

        td { 
            padding: 5px 10px;
            text-align: left;
            border: 1px solid #111111;
        }

        tr:nth-child(1) {
            background: #dedede;
        }
        .parrafo{
          padding: -20%;
        }
    </style>
 </head>
  
  <body>
    <table  >
      <tr>
        <td colspan="3" style="text-align: center;"> 
          <h3 style=" padding: -20%;"> PRUEBA DE ENTREGA </h3>
          <p class="parrafo" style="padding: -70%; font-size: 8px;"  > Ministerio de Transporte: Licencia No. 805 de Marzo 5/2001. MINTIC: Licencia No.1776 de mayo. 7/2020.</p>
          </td>
      </tr>
         <tr>
          <td style="text-align: right; " colspan="2">
            <p align="justify" >
              <img align="left"src="/Users/asus/Desktop/9 Semestre/Proyecto_9semestre/enviosUP/empresa/static/empresa/images/ENVIOS UP.png" width="70" height="70" alt="Imagen Logo" >
              EnviosUP NIT. 845.330 Pincipal Norte de Santander Cucuta <br>
              Colombia Av 5a Prados del este atencion al usuario <br>
              www.EnviosUP.com Tel:3133726478 
            </p>
          </td>
             <td >
                <p style="text-align: right; font-size: 5;">GUIA No. <input type="text"> 000001</p>
             </td>
         </tr>
        <tr>
        <th style="text-align: center; ">DATOS REMITENTE</th>
        <th style="text-align: center;  ">DATOS DESTINATARIO</th>
        <th style="text-align: center;  ">DATOS MERCANCIA</th>
        </tr>
        
        <td>
          <p class="parrafo">Documento: <input type="number">1090522932</p>
          <p class="parrafo">Forma de pago: <input type="text"> contado</p>
          <p class="parrafo">Nombres: <input type="text"> Camilo Andres</p>
          <p class="parrafo">Apellidos: <input type="text"> Ojeda Melgarejo</p>
          <p class="parrafo">Numero de celular: <input type="number">3133726478</p>
          <p class="parrafo">Numero de telefono: <input type="number">5821898</p>
          <p class="parrafo">Correo electronico: <input type="email">caom-1998@hotmail.com</p>
          <p class="parrafo">Direccion: <input type="text"> av 5a prados del este</p>
        </td>
        
         <td>
          <p class="parrafo">Documento: <input type="number">1090345787</p>
          <p class="parrafo">Nombre destinatario: <input type="text"> Karen lesmes</p>
          <p class="parrafo">No. de celular: <input type="number" >3124537641</p>
          <p class="parrafo">No. de Tel: <input type="number" > 5346789</p>
          <p class="parrafo">Municipio: <input type="text">patios</p>
          <p class="parrafo">Direccion: <input type="text"> calle 14 #5-90</p>
        </td>
       
        <td>
        <p class="parrafo">Tipo de Mercancia: <input type="text"> Mercancia Premium</p>
        <p class="parrafo">Peso: <input type="text"> 5kg</p>
        <p class="parrafo">Contenido Mercancia: <input type="text"> hierva buena</p>
        <p class="parrafo">Precio Declarado: <input type="text"> 3000$</p>
        <p class="parrafo">Precio del envio: <input type="text"> 15000$</p>
        </td>

    </table>
    <br>
      <p style="border-top: 3px solid #000000; color: #ffffff;">Para el destinatario </p>
      <table  >
        <tr>
          <td colspan="3" style="text-align: center;"> 
            <h3 style=" padding: -20%;"> DESTINATARIO </h3>
            <p class="parrafo" style="padding: -70%; font-size: 8px;"  > Ministerio de Transporte: Licencia No. 805 de Marzo 5/2001. MINTIC: Licencia No.1776 de mayo. 7/2020.</p>
            </td>
        </tr>
           <tr>
            <td style="text-align: right; " colspan="2">
              <p align="justify" >
                <img align="left"src="/Users/asus/Desktop/9 Semestre/Proyecto_9semestre/enviosUP/empresa/static/empresa/images/ENVIOS UP.png" width="70" height="70" alt="Imagen Logo" >
                EnviosUP NIT. 845.330 Pincipal Norte de Santander Cucuta <br>
                Colombia Av 5a Prados del este atencion al usuario <br>
                www.EnviosUP.com Tel:3133726478 
              </p>
            </td>
               <td >
                  <p style="text-align: right; font-size: 5;">GUIA No. <input type="number"> 000001</p>
               </td>
           </tr>
          <tr>
          <th style="text-align: center; ">DATOS REMITENTE</th>
          <th style="text-align: center;  ">DATOS DESTINATARIO</th>
          <th style="text-align: center;  ">DATOS MERCANCIA</th>
          </tr>
          <td>
            <p class="parrafo">Documento: <input type="number">1090522932</p>
            <p class="parrafo">Forma de pago: <input type="text"> contado</p>
            <p class="parrafo">Nombres: <input type="text"> Camilo Andres</p>
            <p class="parrafo">Apellidos: <input type="text"> Ojeda Melgarejo</p>
            <p class="parrafo">Numero de celular: <input type="number">3133726478</p>
            <p class="parrafo">Numero de telefono: <input type="number">5821898</p>
            <p class="parrafo">Correo electronico: <input type="email">caom-1998@hotmail.com</p>
            <p class="parrafo">Direccion: <input type="text"> av 5a prados del este</p>
          </td>
          
           <td>
            <p class="parrafo">Documento: <input type="number">1090345787</p>
            <p class="parrafo">Nombre destinatario: <input type="text"> Karen lesmes</p>
            <p class="parrafo">No. de celular: <input type="number" >3124537641</p>
            <p class="parrafo">No. de Tel: <input type="number" > 5346789</p>
            <p class="parrafo">Municipio: <input type="text">patios</p>
            <p class="parrafo">Direccion: <input type="text"> calle 14 #5-90</p>
          </td>
         
          <td>
          <p class="parrafo">Tipo de Mercancia: <input type="text"> Mercancia Premium</p>
          <p class="parrafo">Peso: <input type="text"> 5kg</p>
          <p class="parrafo">Contenido Mercancia: <input type="text"> hierva buena</p>
          <p class="parrafo">Precio Declarado: <input type="text"> 3000$</p>
          <p class="parrafo">Precio del envio: <input type="text"> 15000$</p>
          </td>
  
      </table>
      <p style="border-top: 3px solid #000000; color: #ffffff;">Para el remitente </p>
      <table  >
        <tr>
          <td colspan="3" style="text-align: center;"> 
            <h3 style=" padding: -20%;"> REMITENTE </h3>
            <p class="parrafo" style="padding: -70%; font-size: 8px;"  > Ministerio de Transporte: Licencia No. 805 de Marzo 5/2001. MINTIC: Licencia No.1776 de mayo. 7/2020.</p>
            </td>
        </tr>
           <tr>
            <td style="text-align: right; " colspan="2">
              <p align="justify" >
                <img align="left"src="/Users/asus/Desktop/9 Semestre/Proyecto_9semestre/enviosUP/empresa/static/empresa/images/ENVIOS UP.png" width="70" height="70" alt="Imagen Logo" >
                EnviosUP NIT. 845.330 Pincipal Norte de Santander Cucuta <br>
                Colombia Av 5a Prados del este atencion al usuario <br>
                www.EnviosUP.com Tel:3133726478 
              </p>
            </td>
               <td >
                  <p style="text-align: right; font-size: 5;">GUIA No. <input type="number">000001</p>
               </td>
           </tr>
          <tr>
          <th style="text-align: center; ">DATOS REMITENTE</th>
          <th style="text-align: center;  ">DATOS DESTINATARIO</th>
          <th style="text-align: center;  ">DATOS MERCANCIA</th>
          </tr>
          <td>
            <p class="parrafo">Documento: <input type="number">1090522932</p>
            <p class="parrafo">Forma de pago: <input type="text"> contado</p>
            <p class="parrafo">Nombres: <input type="text"> Camilo Andres</p>
            <p class="parrafo">Apellidos: <input type="text"> Ojeda Melgarejo</p>
            <p class="parrafo">Numero de celular: <input type="number">3133726478</p>
            <p class="parrafo">Numero de telefono: <input type="number">5821898</p>
            <p class="parrafo">Correo electronico: <input type="email">caom-1998@hotmail.com</p>
            <p class="parrafo">Direccion: <input type="text"> av 5a prados del este</p>
          </td>
          
           <td>
            <p class="parrafo">Documento: <input type="number">1090345787</p>
            <p class="parrafo">Nombre destinatario: <input type="text"> Karen lesmes</p>
            <p class="parrafo">No. de celular: <input type="number" >3124537641</p>
            <p class="parrafo">No. de Tel: <input type="number" > 5346789</p>
            <p class="parrafo">Municipio: <input type="text">patios</p>
            <p class="parrafo">Direccion: <input type="text"> calle 14 #5-90</p>
          </td>
         
          <td>
          <p class="parrafo">Tipo de Mercancia: <input type="text"> Mercancia Premium</p>
          <p class="parrafo">Peso: <input type="text"> 5kg</p>
          <p class="parrafo">Contenido Mercancia: <input type="text"> hierva buena</p>
          <p class="parrafo">Precio Declarado: <input type="text"> 3000$</p>
          <p class="parrafo">Precio del envio: <input type="text"> 15000$</p>
          </td>
  
      </table>
    
  </body>
</html>












