<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!--Iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <title>Inicio de Sesion Empleados</title>
    {% load static %}
    <!--- Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'empresa/images/favicon.ico' %}" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'empresa/css/login_empleado.css' %}" type="text/css">
</head>
<body style="background-image: url({% static 'empresa/images/ENVIOS UP.png' %})" class="fondo">
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                <div class="modal-content">
                    <div class="col-12 user-img">
                        <img src="{% static 'empresa/images/login.png' %}"/>
                    </div>
                    <form class="col-12" action="{% url 'validacion' %}" method="POST">{% csrf_token %}
                        <div class="form-group" id="user-group">
                            <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" />
                        </div>
                        <div class="form-group" id="contrasena-group">
                            <input type="password" class="form-control" placeholder="Contraseña" name="password" />
                        </div>
                        <button id="ingresar" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>