<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Logistica - ENVIOS UP</title>
  {% load static %}
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'empresa/images/favicon.ico' %}" />
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'empresa/assets/vendor/nucleo/css/nucleo.css' %}"type="text/css">
  <link rel="stylesheet" href="{% static 'empresa/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'empresa/css/argon2.css' %}" type="text/css">
</head>

<body>
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img href="{% url 'PL_principal' %}" src="{% static 'empresa/images/ENVIOS UP.png' %}" class="navbar-brand-img">
        </a>
      </div>
      <div class="navbar-inner">
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <ul class="navbar-nav">
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PL_R_Mercancia' %}">
                <i class="ni ni-folder-17 text-red"></i>
                <span class="nav-link-text">Registrar Mercancia</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PL_L_envios' %}">
                <i class="ni ni-pin-3 text-green"></i>
                <span class="nav-link-text">Listar Envios</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PL_L_Mercancia' %}">
                <i class="ni ni-archive-2 text-blue"></i>
                <span class="nav-link-text">Listar Mercancia</span>
              </a>
            </li>
          </ul>
          <hr class="my-3">
        </div>
      </div>
    </div>
  </nav>
  <div class="main-content" id="panel">
    <nav  class="navbar navbar-top navbar-expand navbar-dark bg-primary2 border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <i class="ni ni-user-run"></i>
                    <span>Cerrar Sesion</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 
    <div class="header bg-primary2 pb-6">
      <div  class="container-fluid">
        <div class="header-body">
          <div  class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Listado de Mercancias</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Header tabla -->
            <div class="card-header border-0">
              <h3 class="mb-0">Lista de Mercancias</h3>
            </div>
            <!--tabla -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">ID_mercancia</th>
                    <th scope="col">CLI_documento</th>
                    <th scope="col">DES_documento</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Alto</th>
                    <th scope="col">Ancho</th>
                    <th scope="col">Largo</th>
                    <th scope="col">Precio_envio</th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <a  href="#!" class="btn btn-sm btn-primary" style="background:rgb(15, 122, 42);">Listar Mercancia</a>
        </div>
      </div>      
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              &copy; 2020 - Envios UP 
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Scripts-->
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>