<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Rastreo envio</title>
    {% include "empresa/header.html" %}
    {% load static %}
    <!--- Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'empresa/images/favicon.ico' %}" />
    <style>
      table,td {
	     border: 1px solid black;
      }
      body {
  background: url("{% static 'empresa/images/rastreo_ver3.jpg' %}") no-repeat center center fixed;
  background-size: cover;
}
    </style>
</head>
<body class="img-responsive ">
        {% include "empresa/nav.html" %}  
           <div>
           <div class="gtco-container">
                    {% if m == 0%}
                        <h1>Tu mercancía está pendiente por enviarse, por favor vuelve a consultar en unas horas.</h1><br>
                        <h2>¡Gracias!</h2><br>
                    {% else %}
                    <br> <br> <br> <br> <br>
                        <div class="row"  >
                            <div class="col-md-12 text-center gtco-heading animate-box"> 
                                <h2 class="font-italic lead font-weight-bold">Seguimiento de tu envio</h2><br>
                            </div>
                            <div class="col-md-6 text-left gtco-heading animate-box">
                                <h2 class="font-weight-bold">Datos Origen</h2><br>
                                <h3>Remitente:</h3>
                                <h3>Fecha de entrega:</h3>
                                <h3>Ciudad recogida:</h3>
                                <h3>Direccion:</h3>
                                <h3>Tipo de producto:</h3>
                                <h3>Peso:</h3>
                            </div>
                            <div style="border-left: 1px solid black" class="col-md-6 text-left gtco-heading animate-box">
                                <h2 class="font-weight-bold">Datos Destinatario</h2><br>
                                <h3>Destinatario:</h3>
                                <h3>Fecha de entrega:</h3>
                                <h3>Ciudad Destino:</h3>
                                <h3>Direccion:</h3>
                                <h3>Telefono:</h3>

                            </div>
                            <div class="col-md-12 text-left gtco-heading animate-box">
                                <h2 class="font-weight-bold">Historial de estados</h2><br>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush" style="background:white;">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col" >N_ESTADO</th>
                                          <th scope="col" >FECHA</th>
                                          <th scope="col">DESCRIPCION</th> <!--puede especificar el departamento-->
                                        </tr>
                                      </thead>
                                      <tbody class="list">
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      </tbody>
                                    </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
          </div>
    <footer>
            {% include "empresa/footer.html" %}
        </footer>
</body>

</html>