<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ENVIOS UP</title>
  {% load static %}
  <!-- Favicon -->
  <link rel="icon" href="{% static 'empresa/images/envio.png' %}" type="image/png">
 <!-- Fonts -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
 <!-- Icons -->
 <link rel="stylesheet" href="{% static 'empresa/assets/vendor/nucleo/css/nucleo.css' %}"type="text/css">
 <link rel="stylesheet" href="{% static 'empresa/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
 <!-- CSS -->
 <link rel="stylesheet" href="{% static 'empresa/css/argon2.css' %}" type="text/css">
</head>

<body>
  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="{% static 'empresa/images/ENVIOS UP.png' %}" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'registrar_cliente' %}">
                <i class="ni ni-single-02 text-black"></i>
                <span class="nav-link-text">Cliente</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'registrar_envio' %}">
                <i class="ni ni-box-2 text-black"></i>
                <span class="nav-link-text">Envio</span>
              </a>
            </li>

          </ul>

          <!-- Divider -->
          <hr class="my-3">
        </div>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav   class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div  class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul   class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <i class="ni ni-user-run"></i>
                    <span>Cerrar Sesion</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!--DATOS DEL REMITENTE-->

<div style="min-height: 80px;">  </div>
<div class="container-fluid mt--6"style="min-height: 100px;" >
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">REMITENTE:</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4"></h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
                  <div class="form-group">
                    <label class="form-control-label" for="clie_id">Número identificación:</label>
                    <input type="text" id="cli_doc" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Forma de pago:</label>
                    <select name="fpago" class="form-control" id="fpago">
                      {% for f in fp %}
                        <option value="{{f.fp_id}}">{{f.fp_nombre}}</option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DATOS DEL DESTINATARIO-->
      
  <div style="min-height: 80px;">  </div>
    <div class="container-fluid mt--6"style="min-height: 100px;" >
          <div class="row">
            <div class="col-xl-8 order-xl-1">
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">DESTINATARIO:</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
        <form>
            <h6 class="heading-small text-muted mb-4"></h6>
            <div class="pl-lg-4">

              <div class="row">            
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Documento de identificación:</label>
                    <input type="text" id="cli_doc" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Nombre del Destinatario:</label>
                    <input type="text" id="cli_nom" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">            
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Número Celular de Contacto:</label>
                    <input type="text" id="cli_cel" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Nombre Telefono de Contacto:</label>
                    <input type="text" id="cli_tel" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">            
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Departamento:</label>
                    <select name="dep" class="form-control" id="dep">
                        {% for d in dep %}
                          <option value="{{d.dep_id}}">{{d.dep_nombre}}</option>
                        {% endfor%}
                      </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Municipio:</label>
                    <select name="mun" class="form-control" id="mun">
                        {% for m in mun %}
                          <option value="{{m.mun_id}}">{{m.mun_nombre}}</option>
                        {% endfor%}
                      </select>
                  </div>
                </div>
              </div>
              <div class="row">            
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Dirección:</label>
                    <input type="text" id="cli_dir" class="form-control" required>
                  </div>
                </div>
              </div>

              </div>
            </div>

        </form>
    </div>
  </div>
</div>
</div>

<!--DATOS DE LA MERCANCIA-->

<div style="min-height: 80px;">  </div>
<div class="container-fluid mt--6"style="min-height: 100px;" >
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">DATOS DE LA MERCANCÍA:</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4"></h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Tipo de mercancía:</label>
                    <select name="tmer" class="form-control" id="tmer">
                      {% for t in tm %}
                        <option value="{{t.tm_id}}">{{t.tm_nombre}}</option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Contenido de la mercancía:</label>
                    <input type="text" id="contenido" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="unidades">Peso (kg):</label>
                    <input type="text" id="peso" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="v_declarado">Alto (cm):</label>
                    <input type="text" id="alto" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="unidades">Ancho (cm):</label>
                    <input type="text" id="ancho" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="v_declarado">Largo (cm):</label>
                    <input type="text" id="largo" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="unidades">Precio declarado:</label>
                    <input type="text" id="declarado" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="v_declarado">Precio envío:</label>
                    <input type="text" id="precio" class="form-control" >
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--INFORMACIÒN DEL ENVÍO

<div style="min-height: 80px;">  </div>
<div class="container-fluid mt--6"style="min-height: 100px;" >
<div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">INFORMACIÓN DEL ENVÍO:</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
<form>
    <h6 class="heading-small text-muted mb-4"></h6>
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="num_guia">Número de guía:</label>
            <input type="text" id="num_guia" class="form-control" >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="tipo_merc">Tipo de Mercancia:</label>
            <input type="text" id="tipo_merc" class="form-control" >
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="fecha_env">Fecha de envío:</label>
                <input type="date" id="fecha_env" class="form-control" placeholder="Fecha de envío " value="">
              </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="fecha_ent">Fecha estimada de entrega:</label>
                  <input type="date" id="fecha_ent" class="form-control" placeholder="Fecha estimada de entrega:" value="">
                </div>
              </div>
      </div>
    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button  id="btn-envio" type="button" class="btn btn-primary ">Registrar envío</button>
  </div>-->
 
<!-- Emplado que realiza el registro de la mercancía-->


<div style="min-height: 80px;">  </div>
  <div class="container-fluid mt--6"style="min-height: 100px;" >
    <div class="row">
      <div class="col-xl-8 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Empleado:</h3>
              </div>
            </div>
          </div>
        <div class="card-body">
        <form action="{% url 'registrar_envio' %}" method="POST" name="f1">{% csrf_token %}
          <h6 class="heading-small text-muted mb-4"></h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
                <div class="form-group">
                  <label class="form-control-label" for="clie_id">Número identificación:</label>
                  <input type="text" id="cli_doc" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-6">
                <button type="submit" style="margin:40px"  class="btn btn-sm btn-primary">Registrar Mercancía</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

      <!-- Footer -->
    <footer class="footer pt-0">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
          <div class="copyright text-center  text-lg-left  text-muted">
            &copy; 2020 - Envios UP 
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
  <!--Scripts -->
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    var doc_cli = document.getElementById('cli_doc');
    console.log(doc_cli);
    $('#cli_doc').keypress(function(e) {
      var keycode = (e.keyCode ? e.keyCode : e.which);
      if (keycode == '13') {
        console.log(doc_cli);
        toastr.info("El documento es: " + doc_cli)
        return false;
      }
    });
  
  </script>
</body>
</html>