<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ENVIOS UP</title>
  {% load static %}
  <!-- Favicon -->
  <link rel="icon" href="{% static 'empresa/images/envio.png' %}" type="image/png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <!-- JQuery Primero -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Toastr.js Después -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
 <!-- Fonts -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
 <!-- Icons -->
 <link rel="stylesheet" href="{% static 'empresa/assets/vendor/nucleo/css/nucleo.css' %}"type="text/css">
 <link rel="stylesheet" href="{% static 'empresa/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
 <!-- CSS -->
 <link rel="stylesheet" href="{% static 'empresa/css/argon2.css' %}" type="text/css">
</head>

<body>
{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}


  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="{% static 'empresa/images/ENVIOS UP.png' %}" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'registrar_cliente' %}">
                <i class="ni ni-single-02 text-black"></i>
                <span class="nav-link-text">Cliente</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'registrar_mercancia' %}">
                <i class="ni ni-box-2 text-black"></i>
                <span class="nav-link-text">Envio</span>
              </a>
            </li>

          </ul>

          <!-- Divider -->
          <hr class="my-3">
        </div>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav   class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div  class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul   class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <i class="ni ni-user-run"></i>
                    <span>Cerrar Sesion</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!--DATOS DEL REMITENTE-->

<div style="min-height: 80px;">  </div>
<div class="container-fluid mt--6"style="min-height: 100px;" >
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">REMITENTE:</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form action="{% url 'registrar_mercancia' %}" method="POST" name="f1">{% csrf_token %}
            <h6 class="heading-small text-muted mb-4"></h6>
            <div class="pl-lg-4" id="form_cli">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
                  <div class="form-group">
                    <label class="form-control-label" for="clie_id">Documento de identificación:</label>
                    <input type="text" id="cli_doc" name="cli_doc" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Forma de pago:</label>
                    <select name="fpago" class="form-control" id="fpago">
                      {% for f in fp %}
                        <option value="{{f.fp_id}}">{{f.fp_nombre}}</option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
              </div>
              <div id="datosPerson" style="display: none">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                      <label class="form-control-label">Nombres:</label>
                      <input type="text" id="cli_nom" name="cli_nom" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Apellidos:</label>
                      <input type="text" id="cli_ape" name="cli_ape" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                      <label class="form-control-label">Número Celular:</label>
                      <input type="text" id="cli_cel" name="cli_cel" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Número Teléfono:</label>
                      <input type="text" id="cli_tel" name="cli_tel" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                      <label class="form-control-label">Correo electrónico:</label>
                      <input type="text" id="cli_cor" name="cli_cor" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
                    <div class="form-group">
                      <label class="form-control-label">Dirección:</label>
                      <input type="text" id="cli_dir" name="cli_dir" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div><!-- el display none-->
            </div>
          </div>
        <!-- aqui cerraba anteriormente el form-->
      </div>
    </div>
  </div>
</div>
<!--DATOS DEL DESTINATARIO-->
      
<div style="min-height: 80px;">  </div>
<div class="container-fluid mt--6"style="min-height: 100px;" >
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">DESTINATARIO:</h3>
            </div>
          </div>
        </div>
         <div class="card-body">
            <h6 class="heading-small text-muted mb-4"></h6>
            <div class="pl-lg-4">
              <div class="row">            
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Documento de identificación:</label>
                    <input type="text" id="des_doc" name="des_doc" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6" id="divNombreDes" style="display: none">
                  <div class="form-group">
                    <label class="form-control-label" >Nombre del Destinatario:</label>
                    <input type="text" id="des_nom" name="des_nom" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row" id="datosDesUno" style="display: none">            
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Número Celular de Contacto:</label>
                    <input type="text" id="des_cel" name="des_cel" class="form-control" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Número Telefono de Contacto:</label>
                    <input type="text" id="des_tel" name="des_tel" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row" id="datosDesDos" style="display: none">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Municipio:</label>
                    <select name="mun" class="form-control" id="mun">
                      {% for m in mun %}
                        <option value="{{m.mun_id}}">{{m.dep_id.dep_nombre}} - {{m.mun_nombre}}</option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Dirección:</label>
                    <input type="text" id="des_dir" name="des_dir" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row" id="datosDesTres" style="display: none">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Correo Electrónico:</label>
                    <input type="text" id="des_cor" name="des_cor" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--DATOS DE LA MERCANCIA-->

<div style="min-height: 80px;">  </div>
<div class="container-fluid mt--6"style="min-height: 100px;" >
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">DATOS DE LA MERCANCÍA:</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
            <h6 class="heading-small text-muted mb-4"></h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Tipo de mercancía:</label>
                    <select name="tmer" class="form-control" id="tmer">
                      {% for t in tm %}
                        <option value="{{t.tm_id}}">{{t.tm_nombre}}</option>
                      {% endfor%}
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Contenido de la mercancía:</label>
                    <input type="text" id="contenido" name="contenido" class="form-control" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="unidades">Peso (kg):</label>
                    <input type="text" id="peso" name="peso" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="v_declarado">Alto (cm):</label>
                    <input type="text" id="alto" name="alto" class="form-control" disabled="disabled">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="unidades">Ancho (cm):</label>
                    <input type="text" id="ancho" name="ancho" class="form-control" disabled="disabled">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="v_declarado">Largo (cm):</label>
                    <input type="text" id="largo" name="largo" class="form-control" disabled="disabled">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="unidades">Precio declarado:</label>
                    <input type="text" id="declarado" name="declarado" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="v_declarado" >Precio envío:</label>
                    <input type="text" id="precio" name="precio" class="form-control" placeholder="Varía dependiento la tarifa">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--INFORMACIÒN DEL ENVÍO

<div style="min-height: 80px;">  </div>
<div class="container-fluid mt--6"style="min-height: 100px;" >
<div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">INFORMACIÓN DEL ENVÍO:</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
<form>
    <h6 class="heading-small text-muted mb-4"></h6>
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="num_guia">Número de guía:</label>
            <input type="text" id="num_guia" class="form-control" >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="tipo_merc">Tipo de Mercancia:</label>
            <input type="text" id="tipo_merc" class="form-control" >
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="fecha_env">Fecha de envío:</label>
                <input type="date" id="fecha_env" class="form-control" placeholder="Fecha de envío " value="">
              </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="fecha_ent">Fecha estimada de entrega:</label>
                  <input type="date" id="fecha_ent" class="form-control" placeholder="Fecha estimada de entrega:" value="">
                </div>
              </div>
      </div>
    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button  id="btn-envio" type="button" class="btn btn-primary ">Registrar envío</button>
  </div>-->
 
<!-- Emplado que realiza el registro de la mercancía-->


<div style="min-height: 80px;">  </div>
  <div class="container-fluid mt--6"style="min-height: 100px;" >
    <div class="row">
      <div class="col-xl-8 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Empleado:</h3>
              </div>
            </div>
          </div>
        <div class="card-body">
          <h6 class="heading-small text-muted mb-4"></h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
                <div class="form-group">
                  <label class="form-control-label" for="clie_id">Número identificación:</label>
                  <input type="text" id="emp_doc" name="emp_doc" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-6">
                <button type="submit" id="register" style="margin:40px"  class="btn btn-sm btn-primary" disabled="disabled" >Registrar Mercancía</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

      <!-- Footer -->
    <footer class="footer pt-0">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
          <div class="copyright text-center  text-lg-left  text-muted">
            &copy; 2020 - Envios UP 
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
  <!--Scripts -->
  <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    
    $('#cli_doc').keypress(function(e) {
      var keycode = (e.keyCode ? e.keyCode : e.which);
      if (keycode == '13') {
        var doc = $(this).val()
        buscarCliente(doc);
        return false;
      }
    });

    $('#des_doc').keypress(function(e) {
      var keycode = (e.keyCode ? e.keyCode : e.which);
      if (keycode == '13') {
        var doc = $(this).val()
        buscarDestinatario(doc);
        return false;
      }
    });

    $('#emp_doc').keypress(function(e) {
      var keycode = (e.keyCode ? e.keyCode : e.which);
      if (keycode == '13') {
        var doc = $(this).val()
        buscarEmpleado(doc);
        return false;
      }
    });

    $('#tmer').on('change', precio);

    $('#peso').on('change', calcularPrecio);

    function buscarCliente(doc){
      $.ajax({
        data: {'doc' : doc},
        url: '/buscar_cliente_ajax/',
        type: 'get',
        success: function (response){
          if(response.length == 0){ 
            $('#datosPerson').removeAttr("style");

          }else{
            $('#datosPerson').removeAttr("style");
            $('#cli_nom').val(response[0].fields.per_nombre);
            $('#cli_ape').val(response[0].fields.per_apellido);
            $('#cli_cel').val(response[0].fields.per_celular);
            $('#cli_tel').val(response[0].fields.per_telefono);
            $('#cli_cor').val(response[0].fields.per_email);
            $('#cli_dir').val(response[0].fields.per_direccion);
          }
        },
      });
    }

    function buscarDestinatario(doc){
      $.ajax({
        data: {'doc' : doc},
        url: '/buscar_destinatario_ajax/',
        type: 'get',
        success: function (response){
          if(response.length == 0){ 
            $('#divNombreDes').removeAttr("style");
            $('#datosDesUno').removeAttr("style");
            $('#datosDesDos').removeAttr("style");
            $('#datosDesTres').removeAttr("style");

          }else{
            $('#divNombreDes').removeAttr("style");
            $('#datosDesUno').removeAttr("style");
            $('#datosDesDos').removeAttr("style");
            $('#datosDesTres').removeAttr("style");
            $('#des_nom').val(response[0].fields.des_nombre);
            $('#des_cel').val(response[0].fields.des_celular);
            $('#des_tel').val(response[0].fields.des_telefono);
            $('#des_cor').val(response[0].fields.des_email);
            $('#des_dir').val(response[0].fields.des_direccion);
            $('#des_cor').val(response[0].fields.des_email);
          }
        },
      });
    }

    function precio(){
      var id = $(this).val();
      $.ajax({
        data: {'id' : id},
        url: '/buscar_precio/',
        type: 'get',
        success: function (response){
          if(id == 1){
            $('#alto').attr("disabled", "disabled");
            $('#ancho').attr("disabled", "disabled");
            $('#largo').attr("disabled", "disabled");
          }else{
            $('#alto').removeAttr("disabled");
            $('#ancho').removeAttr("disabled");
            $('#largo').removeAttr("disabled");
          }
          var precio = parseInt(response[0].fields.tm_precio);
          var adicional = parseInt(response[0].fields.tm_precio_adicional);
          //$('#precio').val( precio + adicional );
          $('#precio').attr("value", (precio + adicional));
        },
      });
    }

    function calcularPrecio(){
      var id = $('#tmer').val();
      var peso = $(this).val();
      $.ajax({
        data: {'id' : id},
        url: '/buscar_precio/',
        type: 'get',
        success: function (response){
          var precio = parseInt(response[0].fields.tm_precio);
          var adicional = parseInt(response[0].fields.tm_precio_adicional);
          if(peso != null){
            $('#precio').val( (precio + adicional) * peso );
          }else{
            $('#precio').val(precio + adicional);
          }
        },
      });
    }

    function buscarEmpleado(doc){
      $.ajax({
        data: {'doc' : doc},
        url: '/buscar_empleado_ajax/',
        type: 'get',
        success: function (response){
          if(response.length == 1 && parseInt(response[0].fields.emp_estado) == 1){ 
             $('#register').removeAttr("disabled");
          }else if(response.length == 1 && parseInt(response[0].fields.emp_estado) != 1){
            toastr.warning('Empleado no autorizado');
          }else{
            toastr.warning('Empleado no registrado');
          }
        },
      });
    }
  
  </script>
</body>
</html>