
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Envios UP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords"
		content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	{% load static %}

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'empresa/images/favicon.ico' %}" />
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/icomoon.css' %}">
	<!-- Themify Icons-->
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/themify-icons.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/magnific-popup.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/bootstrap-datepicker.min.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" type="text/css" href="{% static 'empresa/css/style.css' %}">

	<!-- estilo login -->
    <link rel="stylesheet" type="text/css" href="{% static 'empresa/css/login.css' %}"> 
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


	<!-- Modernizr JS -->
	<script src="{% static 'empresa/js/modernizr-2.6.2.min.js' %}"></script>
</head>