<!DOCTYPE HTML>
<html>

<head>
	{% include "empresa/header.html" %}
	{% load static %}
</head>

<body>
	<div class="gtco-loader"></div>
	<div id="page">
	{% include "empresa/nav.html" %}	
		<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner"
			style="background-image: url({% static 'empresa/images/img_home.png' %})">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="row row-mt-15em">
							<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							</div>
							<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
								<div class="form-wrap">
									<div class="tab">

										<div class="tab-content">
											<div class="tab-content-inner active" data-content="signup">
												<h3>Rastrea tu envio</h3>
												<form action="#">
													<div class="row form-group">
														<div class="col-md-12">
															<label for="fullname">Numero de guia</label>
															<input type="text" id="fullname" class="form-control">
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<input type="submit" class="btn btn-primary btn-block"
																value="Rastrear">
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Ciudades Principales</h2>
						<p>Estas son algunas de las ciudades en las que prestamos el servicio de mensajeria.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="{% static 'empresa/images/img_1.png' %}" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'empresa/images/img_1.png' %}" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Cúcuta</h2>
								<p>Conocida como la perla del norte, capital del departamento de Norte de Santander.</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="{% static 'empresa/images/img_2.png' %}" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'empresa/images/img_2.png' %}" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Medellín</h2>
								<p>Conocida como la ciudad de la eterna primavera, capital del departamento de
									Antioquia.</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="{% static 'empresa/images/img_3.png' %}" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'empresa/images/img_3.png' %}" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Bogotá</h2>
								<p>Conocida como la ciudad de todos, capital de nuestro pais y del departamento de
									Cundinamarca.</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="{% static 'empresa/images/img_4.png' %}" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'empresa/images/img_4.png' %}" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Cali</h2>
								<p>Conocida como la sucursal del cielo, capital del departamento del Valle del Cauca.
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="{% static 'empresa/images/img_5.png' %}" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'empresa/images/img_5.png' %}" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Barranquilla</h2>
								<p>Conocida como la puerta de oro de Colombia, capital del departamento del Atlántico.
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<a href="{% static 'empresa/images/img_6.png' %}" class="fh5co-card-item image-popup">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'empresa/images/img_6.png' %}" alt="Image" class="img-responsive">
							</figure>
							<div class="fh5co-text">
								<h2>Cartagena de Indias</h2>
								<p>Conocida como la ciudad heroica, capital del departamento del Bolívar.</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="gtco-features">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2>Tipos de Mercancia</h2>
						<p>Estas son nuestros servicios de transporte</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<img src="{% static 'empresa/images/icono_documento.png' %}" alt="Image" class="">
							<h3>Documento</h3>
							<p>Te ofrecemos el servicio de entrega de documentos unitarios. Transportamos y
								entregamos tus documentos puerta a puerta hasta su destino.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<img src="{% static 'empresa/images/icono_caja.png' %}" alt="Image" class="">
							<h3>Paquete Premium</h3>
							<p>Transportamos y entregamos tu mercancía o paquetes individuales. Con guía
								independiente para que hagas el seguimiento de su entrega.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gtco-cover gtco-cover-sm" style="background-image: url({% static 'empresa/images/img_bg_1.png' %})"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="gtco-container text-center">
				<div class="display-t">
					<div class="display-tc">
						<h1>¡La mejor opcion de envío!</h1>
					</div>
				</div>
			</div>
		</div>
		<div id="gtco-subscribe">
			<div class="gtco-container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>CONTÁCTANOS</h2>
						<p>Lineas de atencion al cliente.</p>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-12 col-md-offset-2">
						<form class="form-inline">
							<div class="col-md-6 col-sm-6">
								<a href="#" class="contact"><i class="icon-phone"> </i> 571 0305</a>
							</div>
							<div class="col-md-6 col-sm-6">
								<a href="mailto:enviosup@gmail.com" class="contact"><i class="icon-mail2"></i>
									enviosup@gmail.com</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer id="gtco-footer" role="contentinfo">
			{% include "empresa/footer.html" %}
		</footer>
	</div>

</body>

</html>