<!DOCTYPE html>
<html>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,70" rel="stylesheet">

	{% load static %}

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'empresa/images/favicon.ico' %}" />

	 <!-- Los iconos tipo Solid de Fontawesome-->
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	 <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body >
<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="">ENVIOS UP</a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li class="has-dropdown">
							<a href="#">Tarifas</a>
						</li>
						<button id="inicio"type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
						Iniciar Sesión</button>
						
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 align="center" class="modal-title" id="myModalLabel">LOGIN USUARIO</h4>
			</div>
			<div class="modal-body">
					  
					   <form class="col-12" action="login/" method="POST">{% csrf_token %}
						  <div class="form-group" id="user-group" >
							  <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
						  </div>
						  <div class="form-group" id="contrasena-group" >
							  <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
						  </div>
							  <button id="ingresar" class="col-md-4 col-md-offset-4" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Ingresar </button>
					  </form>
						<div class="col-12 forgot">
						  <a href="registroCliente/">Crea una cuenta</a>
					  </div>
	  
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>		 
			</div>
		  </div>
		</div>
	  </div>

</body>
</html>