	
<!DOCTYPE HTML>
<!--
	Traveler by freehtml5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Descúbrenos</title>
	{% load static %}
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
		
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="{% static 'empresa/extra/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	  <link href="{% static 'empresa/extra/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
	  <link href="{% static 'empresa/extra/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
	  <link href="{% static 'empresa/extra/vendor/venobox/venobox.css' %}" rel="stylesheet">
	  <link href="{% static 'empresa/extra/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet"><!---->
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'empresa/extra/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'empresa/extra/css/icomoon.css' %}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{% static 'empresa/extra/css/themify-icons.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'empresa/extra/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'empresa/extra/css/magnific-popup.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'empresa/extra/css/bootstrap-datepicker.min.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'empresa/extra/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'empresa/extra/css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'empresa/extra/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'empresa/extra/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'empresa/extra/js/respond.min.js' %}"></script>
	<![endif]-->
	
	</head>
	<body style="background-color: white">
	{% include "empresa/nav.html" %}
<!------------------------- ------------------------------------------------------------------------------------------------->
	<header data-aos="fade-up" data-aos-delay="300" id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url({% static 'empresa/extra/images/nosotros.jpg' %})">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1 style="font-size: 50px;">DESCÚBRENOS</h1>
							<h1 style="font-size: 30px;">Somos ENVIOS UP, grupo humano, íntegro, cálido y experto que brinda tranquilidad y confianza a sus clientes, a través de soluciones logísticas innovadoras.</h1>	
						</div>
					</div>											
				</div>
			</div>
		</div>
	</header>
<!------------------------- -------------------------------------------------------------------------------------------------->
	<div id="gtco-features">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">						
						<center><img src="{% static 'empresa/extra/images/misiona.png' %}" id="img-nosotros"alt="Image" class="img-responsive"></center><br>
					<h3>Misión</h3>		
						<p>Cumplir las necesidades de logistica de nuestros clientes, a traves de un servicio de calidad con el apoyo de nuestros empleados. Extendiendo progresivamente los puntos de serivicio, y asi facilitar el uso del mismo.
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<center><img src="{% static 'empresa/extra/images/visiona.png' %}" id="img-nosotros"alt="Image" class="img-responsive"></center><br> 
					<h3>Visión</h3>
						<p>Obtener un posicionamiento, regional, nacional e internacional, basado en un servicio oportuno y seguro. Cubrimiento especialmente las zonas mas retiradas del paìs.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<!------------------------- ------------------------------------------------------------------------------------------------->
	
<!------------------------- ------------------------------------------------------------------------------------------------->


		<div id="main-container">
						
				<h2 class="mt-text animate-box">Puntos de Servicios</h2> 
				<p class="mt-text animate-box">Ten en cuenta nuestros puntos de servicios autorizados</p>
			<table class="table1 mt-text animate-box" id="table1">
				<thead class="thead1">
					<tr>
						<th>Departamento</th> 
						<th>Municipio</th> 
						<th>Dirección</th> 
						<th>Teléfono</th>
					</tr>
				</thead>
				<tr>
						<td>Antioquia</td>
						<td>Medellín</td>
						<td>Carrera 10 No. 89 norte 12</td>
						<td>7659087</td>
				</tr>
				<tr>
						<td>Antioquia</td>
						<td>Envigado</td>
						<td>Calle 56 No. 78-31</td>
						<td>5893145</td>
				</tr>
				<tr>
					<td>Atlántico</td>
					<td>Barranquilla</td>
					<td>Calle 50 No. 45-12</td>
					<td>6784510</td>
				</tr>
				<tr>
						<td>Bolívar</td>
						<td>Cartagena</td>
						<td>Av Principal del Bosque DG 12 N° 90-31</td>
						<td>6693419</td>
					</tr>
				<tr>
						<td>Cundinamarca</td>
						<td>Bogotá</td>
						<td>Carrera 90 No. 15A-21</td>
						<td>4565467</td>
				</tr>
				<tr>
					<td>Norte de Santander</td>
					<td>Cúcuta</td>
					<td>Av 10 #5-89</td>
					<td>5768930</td>
				</tr>
				<tr>
					<td>Norte de Santander</td>
					<td>Pamplona</td>
					<td>Calle 34 # 4-89</td>
					<td>5778930</td>
				</tr>
				<tr>
					<td>Valle del Cauca</td>
					<td>Cali</td>
					<td>Carrera 28B No. 42-298</td>
					<td>3450924</td>
				</tr>
			</table>
		</div>
<!------------------------- ------------------------------------------------------------------------------------------------->
<section id="faq" class="faq">
      <div class="container">

        <div class="section-title mt-text animate-box" data-aos="fade-up" data-aos-delay="300">
          <h2>Preguntas Frecuentes</h2>
        </div>

        <ul class="faq-list mt-text animate-box">

          <li data-aos="fade-up">
            <a data-toggle="collapse" class="collapsed" href="#faq1">¿Cómo funciona el pago Contra-entrega? <i class="bx bx-chevron-down
				icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p style="text-align: justify;">
                Se presta entre ciudades capitales o cabeceras de Regional en los Puntos de Servicios autorizados. Este servicio se desarrolla en 2 modalidades:<br><br>
				<strong>1. RECLAMO EN OFICINA:</strong> 
				El remitente realiza el envío en un Puntos de Servicios, indicando que aplica a pago contra entrega (COD) y que corresponde a un reclamo en oficina de la ciudad de destino.

				El envío llegará a la oficina definida por el remitente, donde el destinatario debe reclamar el envío y cancelar el valor del flete.

				Los envíos no reclamados en la ciudad de destino serán devueltos a la ciudad de origen, y el remitente deberá pagar doble flete del envío.<br><br>

				<strong>2. ENTREGA EN DIRECCIÓN:</strong> 
				El remitente realiza el envío en un Puntos de Servicios, indicando que aplica a pago contra entrega (COD), indica la dirección del destinatario y los datos solicitados en la guía.

				El envío llegará a la dirección del destinatario.

				El destinatario cancelara el valor del flete en el momento de recibir el envío.

				Los envíos que sean devueltos por causales del cliente, serán cobrados al remitente el cual debe cancelar el 100% del envío mas el 50% del mismo.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
			<a data-toggle="collapse" href="#faq2" class="collapsed"> ¿Por qué se deben declarar los envíos?<i class="bx bx-chevron-down 
				icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p style="text-align: justify;">
               Es de vital importancia declarar los envíos con el objetivo de asegurar su recuperación en el evento en que se presenten casos fortuitos como accidentes, robos y demás riesgos en la operación. Si declara el envío podrá solicitar la correspondiente indemnización la cual aplica al valor que declaro en el momento de realizar el envío.

			Adicionalmente es una de las resposabilidades del remitente contempladas en el Código de Comercio.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
			<a data-toggle="collapse" href="#faq3" class="collapsed">¿Qué condiciones deben cumplir los envíos para su transporte? <i class="bx bx-chevron-down 
				icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Todo envío debe cumplir con las condiciones mínimas de empaque y embalaje para ser transportados y distribuidos. Estas se relacionan a continuación:<br><br>
                <ul>
                	<li>El empaque debe encontrarse totalmente sellado.</li>
                	<li>Su contenido debe estar identificado con la información de remitente y destinatario. ( Nombres, Dirección y Teléfono).</li>
                	<li>Debe llevar pictogramas de acuerdo con las condiciones de manipulación y transporte (si Aplica Ejemplo Mercancía peligrosa).</li>
                	<li>Debe estar identificado con la guía.</li>
                	<li>El embalaje debe tener un tamaño acorde con las dimensiones, peso, diseño y grado de fragilidad del producto a transportar.</li>
                </ul>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
			<a data-toggle="collapse" href="#faq4" class="collapsed">¿Qué es empaque y embalaje? <i class="bx bx-chevron-down 
				icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p style="text-align: justify;">
               <strong>Empaque:</strong> Es la presentación comercial de un producto. Asegura que al transportar este no se dañe ni entre en contacto con el exterior para mantenerse limpio o fresco en caso de que sea un alimento. <br><br>
               <strong>Embalaje:</strong>Es una forma de empaque que envuelve, contiene, protege y conserva los productos envasados y/o empaquetados. El embalaje va más orientado a la protección del producto durante el transporte logístico. El embalaje no necesariamente debe ser una caja, también el embalaje puede ser el plástico que ponemos alrededor de un producto envasado o empaquetado.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
			<a data-toggle="collapse" href="#faq5" class="collapsed">¿Qué mercancías son de transporte prohibido o restringido en Envios UP?<i class="bx bx-chevron-down  
				icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Para el servicio de mercancías, los productos de prohibido transporte se relacionan a continuación:<br><br>

					<strong>Por su Naturaleza:</strong>
					Objetos que por su contenido puedan ocasionar daños a los colaboradores o deteriorar los demás envíos. <br>

					Materiales peligrosos, contaminantes, inflamables o explosivos.<br>

					Combustibles.<br>

					Bienes que deban conservarse bajo refrigeración, congelación o calefacción y su conservación sea superior a 24 horas.<br>

					Gases comprimidos o venenosos.<br>

					Cilindros de gas.<br>

					Refrigerantes.<br>

					Material Radioactivo<br>

					Sustancias infecciosas, corrosivas o venenosas, materias grasas, polvos colorantes y otras materias similares.<br>

					Desechos orgánicos y hospitalarios.<br>

					Oxidantes.<br>

					Peróxidos orgánicos e industriales.<br>

					Catalizadores.<br>

					Pigmentos químicos y plásticos.<br>

					Pinturas.<br><br><br>

					<strong>Por su Valor:</strong> 
					Metales preciosos en barra o en polvo. (esta restricción no aplica para envíos considerados como valores)<br>

					Dinero en efectivo y otros objetos de valor, tales como monedas, platino, oro y plata manufacturadas o no, billetes representativos de moneda o cualquier otro valor al portador, joyas, piedras finas o cualquier otro objeto precioso.<br>

					Títulos valores negociables de cualquier naturaleza, cheques en blanco, cheques viajeros. (Esta restricción no aplica para envíos considerados como Valores).<br>

					Objetos constitutivos del patrimonio histórico o cultural de Colombia.<br>

					Antigüedades, objetos artísticos y obras de arte.<br><br><br>

					<strong> Por prohibición legal:</strong>
					Material orgánico, plantas, opio, marihuana, cocaína, morfina, heroína o cualquier otro tipo de narcóticos o alucinógenos, excepto los envíos con fines médicos o científicos.<br>

					Químicos peligrosos, materiales industriales óxidos (IMO), inflamables y combustibles.<br>

					Animales.<br>

					Armas, municiones y elementos bélicos de toda especie, o cualquier otro objeto de comercio ilícito.<br>

					Máquinas para acuñar moneda, o esqueletos para billetes de bancos.<br><br><br>

					<strong>Por condiciones de Empaque y Embalaje:</strong> 
					Artículos y elementos frágiles que no estén convenientemente protegidos y empacados.<br>

					No se reciben envíos que tengan abierto su empaque o que vengan en mal estado.<br><br><br>

					<strong>Por condiciones de manipulación: </strong> 
					Perfiles en aluminio, madera, hierro o plástico.<br>

					Tuberías en cualquier tipo de material.<br>

					Maquinaria industrial cuyo peso sea superior a 150 Kg.<br>

					Lozas de mármol, pedernales y porcelanas.<br>

					Baldosas y sanitarios.<br>

					Aglomerados, formica, triplex y dry wall.<br>

					Fibra óptica.<br>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq6" class="collapsed"> ¿Cuál es la Mercancía considerada peligrosa y cómo se clasifica?
				<i class="bx bx-chevron-down  
				icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p style="text-align: justify;">
                Son materiales perjudiciales que durante la fabricación, manejo, transporte, almacenamiento o uso; pueden generar o desprender polvos, humos, gases, líquidos, vapores o fibras infecciosas, irritantes, inflamables, explosivos, corrosivos, asfixiantes, tóxicos o de otra naturaleza peligrosa; o radiaciones ionizantes en cantidades que puedan afectar la salud de las personas que entran en contacto con éstas, o que causen daño material.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
	<!-- jQuery -->
	<script src="{% static 'empresa/extra/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'empresa/extra/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'empresa/extra/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'empresa/extra/js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'empresa/extra/js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'empresa/extra/js/jquery.countTo.js' %}"></script>

	<!-- Stellar Parallax -->
	<script src="{% static 'empresa/extra/js/jquery.stellar.min.js' %}"></script>

	<!-- Magnific Popup -->
	<script src="{% static 'empresa/extra/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'empresa/extra/js/magnific-popup-options.js' %}"></script>
	
	<!-- Datepicker -->
	<script src="{% static 'empresa/extra/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'empresa/extra/css/aos/aos.js' %}"></script>

	<!-- Main -->
	<script src="{% static 'empresa/extra/js/main.js' %}"></script>
	
		<footer id="gtco-footer" role="contentinfo">
			{% include "empresa/footer.html" %}
		</footer>
</body>
</html>